/*
author: Thrive Creative Labs
date modified: November 15, 2018
type: reset css
*/
/* ----- Utility Classes ----- */
.redNote {
  padding: 5px;
  background-color: #cc0000;
  color: #FFFFFF;
  font-weight: bold; }

/* ----- Reset all CSS ----- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, fieldset, form, label, legend, caption, tbody, tfoot, thead {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: transparent;
  vertical-align: baseline;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit; }

/* ----- floats ----- */
.flt-right {
  float: right;
  margin: 0 0 0 15px; }

@media (max-width: 650px) {
  .flt-right {
    float: none;
    margin: 0; } }
.flt-left {
  float: left;
  margin: 0 15px 0 0; }

@media (max-width: 650px) {
  .flt-left {
    float: none;
    margin: 0; } }
.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px; }

/* ----- form styles ----- */
.grippie {
  display: none !important; }

.btn, input[type="submit"],
input[type="button"],
button,
.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  color: #46308D;
  border: 2px solid #46308D;
  padding: 0.5rem 1.5rem;
  font-size: 0.823em;
  font-weight: bold; }
  .btn.btn-alt, input.btn-alt[type="submit"],
  input.btn-alt[type="button"],
  button.btn-alt,
  .button.btn-alt,
  .woocommerce #respond input#submit.alt.btn-alt,
  .woocommerce a.button.alt.btn-alt,
  .woocommerce button.button.alt.btn-alt,
  .woocommerce input.button.alt.btn-alt {
    color: #fff;
    border-color: #fff; }

[type="button"] {
  background: #46308D;
  color: #fff !important;
  font-size: 0.823em !important;
  cursor: pointer; }
  [type="button"]:hover {
    background: #332367; }

h1, h2, h3 {
  font-family: 'Muli', sans-serif;
  font-weight: bold;
  color: #46308D;
  line-height: 1.25;
  margin-bottom: 1em; }

* ~ h1, * ~ h2, * ~ h3 {
  margin-top: 1em; }

h1 {
  font-size: 2.5em; }

h2 {
  font-size: 2.05em; }

h3 {
  font-size: 1.65em; }

* + p,
* + li {
  margin-top: 1em; }

small {
  font-size: 0.75em; }

label {
  margin-bottom: 0.5em; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1em;
  border: 1px solid #ccc; }

::-webkit-input-placeholder {
  color: #C4B8EA !important; }

:-ms-input-placeholder {
  color: #C4B8EA !important; }

::-ms-input-placeholder {
  color: #C4B8EA !important; }

::placeholder {
  color: #C4B8EA !important; }

textarea {
  font-family: sans-serif;
  padding: 1rem;
  resize: none; }

input[type="submit"],
input[type="button"],
button {
  border: 0;
  font-size: 1em; }

@media (max-width: 600px) {
  .top-nav {
    display: none; } }
.top-nav ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }
.top-nav ul,
.top-nav ul li {
  list-style: none;
  margin: 0;
  padding: 0; }
.top-nav ul li {
  padding: 0 1rem; }
  .top-nav ul li a {
    color: #46308D;
    text-transform: uppercase;
    font-size: 16px; }
  .top-nav ul li.menu-item-has-children {
    position: relative; }
    .top-nav ul li.menu-item-has-children ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0; }
      .top-nav ul li.menu-item-has-children ul li {
        display: block;
        width: 15em; }
        .top-nav ul li.menu-item-has-children ul li a {
          display: block; }
    .top-nav ul li.menu-item-has-children:hover ul {
      display: block; }

@media (max-width: 640px) {
  .footer-nav .footer-nav-section {
    margin-top: 2rem;
    text-align: center; } }
.footer-nav .footer-nav-section + .footer-nav-section {
  margin-top: 1rem; }
  @media (max-width: 640px) {
    .footer-nav .footer-nav-section + .footer-nav-section {
      margin-top: 2rem; } }
.footer-nav p,
.footer-nav a {
  font-size: 0.95em; }
.footer-nav p {
  font-weight: bold;
  margin-bottom: 0.5rem; }
  @media (max-width: 640px) {
    .footer-nav p {
      margin: 0; } }
.footer-nav .footer-nav-menu,
.footer-nav li {
  list-style: none;
  margin: 0;
  padding: 0; }
.footer-nav .footer-nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
          align-items: center; }
  @media (max-width: 640px) {
    .footer-nav .footer-nav-menu {
      display: block; } }
  .footer-nav .footer-nav-menu li + li {
    margin-left: 2rem; }
    @media (max-width: 640px) {
      .footer-nav .footer-nav-menu li + li {
        margin: 0; } }
  .footer-nav .footer-nav-menu li a {
    color: #fff; }
    .footer-nav .footer-nav-menu li a:hover {
      color: #C4B8EA; }

.mobile-nav,
.mobile-nav-icon {
  display: none; }

.mobile-nav-icon {
  font-size: 1.3em; }
  @media (max-width: 600px) {
    .mobile-nav-icon {
      display: block;
      position: absolute;
      top: 50%;
      left: 2rem;
      margin: 0;
      -webkit-transform: translateY(-55%);
              transform: translateY(-55%); } }

.mobile-nav {
  position: relative;
  padding: 1.5rem 1rem;
  text-align: center; }
  .mobile-nav .menu,
  .mobile-nav li {
    list-style: none;
    margin: 0;
    padding: 0; }
  .mobile-nav .menu li + li {
    margin-top: 0.5rem; }
  .mobile-nav .menu li a {
    font-weight: bold; }
  .mobile-nav .mobile-nav-close {
    font-size: 1.75em;
    position: absolute;
    top: 1rem;
    right: 2rem;
    margin: 0;
    line-height: 1; }

/* CSS Document */
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  overflow-x: hidden; }

body {
  color: #000;
  font-size: 17px;
  line-height: 1.5;
  font-family: 'Muli', sans-serif; }

a, a:visited {
  color: #000;
  text-decoration: none; }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #000; }

img {
  max-width: 100%;
  height: auto !important; }

.header-wrap-outer {
  background: #F0F0F0;
  box-shadow: 0px 6px 10px #00000033;
  padding: 2rem 1.5rem; }
  @media (max-width: 600px) {
    .header-wrap-outer {
      padding: 1.5rem 1.5rem 1rem; } }
  .header-wrap-outer .header-wrap {
    position: relative;
    max-width: 880px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center; }
    @media (max-width: 600px) {
      .header-wrap-outer .header-wrap {
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center; } }
    .header-wrap-outer .header-wrap .site-logo {
      width: 230px;
      line-height: 0; }
      @media (max-width: 600px) {
        .header-wrap-outer .header-wrap .site-logo {
          width: 160px; } }
      .header-wrap-outer .header-wrap .site-logo a {
        display: block; }

.content-wrap {
  max-width: 900px;
  margin: 0 auto; }

.footer-section-container-wrap {
  background: #1C1C46;
  color: #fff;
  padding: 4rem 1rem; }
  .footer-section-container-wrap .footer-section-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center; }
    @media (max-width: 640px) {
      .footer-section-container-wrap .footer-section-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
                flex-direction: column; } }
    .footer-section-container-wrap .footer-section-container .footer-section + .footer-section {
      padding-left: 5rem; }
      @media (max-width: 640px) {
        .footer-section-container-wrap .footer-section-container .footer-section + .footer-section {
          padding: 0; } }
    .footer-section-container-wrap .footer-section-container .footer-section.footer-logo {
      width: 190px; }
      @media (max-width: 640px) {
        .footer-section-container-wrap .footer-section-container .footer-section.footer-logo {
          width: 250px; } }

/*# sourceMappingURL=all.css.map */