.btn,
.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  color: #46308D;
  border: 2px solid #46308D;
  padding: 0.5rem 1.5rem;
  font-size: 0.823em;
  font-weight: bold; }
  .btn.btn-alt,
  .button.btn-alt,
  .woocommerce #respond input#submit.alt.btn-alt,
  .woocommerce a.button.alt.btn-alt,
  .woocommerce button.button.alt.btn-alt,
  .woocommerce input.button.alt.btn-alt {
    color: #fff;
    border-color: #fff; }

[type="button"] {
  background: #46308D;
  color: #fff !important;
  font-size: 0.823em !important;
  cursor: pointer; }
  [type="button"]:hover {
    background: #332367; }

.feature-wrap-outer {
  background: url(/wp-content/themes/purplebloks/images/purple-bloks-header-bg.jpg);
  background-size: cover; }
  .feature-wrap-outer .feature-wrap {
    max-width: 880px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    padding: 6rem 1.5rem;
    color: #fff; }
    @media (max-width: 600px) {
      .feature-wrap-outer .feature-wrap {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -webkit-flex-direction: column-reverse;
                flex-direction: column-reverse;
        padding: 2rem 1.5rem; } }
    .feature-wrap-outer .feature-wrap .feature-section {
      width: 50%; }
      @media (max-width: 600px) {
        .feature-wrap-outer .feature-wrap .feature-section {
          width: 100%; } }
      @media (max-width: 600px) {
        .feature-wrap-outer .feature-wrap .feature-section.content {
          width: 100%;
          text-align: center; } }
      @media (max-width: 600px) {
        .feature-wrap-outer .feature-wrap .feature-section.content img {
          max-width: 250px; } }
      .feature-wrap-outer .feature-wrap .feature-section.content h1 {
        font-weight: normal;
        font-size: 2.05em;
        color: #fff;
        margin: 0 0 1.5rem; }
        @media (max-width: 600px) {
          .feature-wrap-outer .feature-wrap .feature-section.content h1 {
            font-size: 1.3em;
            margin-top: 0.5rem; } }
      @media (max-width: 600px) {
        .feature-wrap-outer .feature-wrap .feature-section.content .btn {
          display: block;
          padding: 0.75rem; } }
      .feature-wrap-outer .feature-wrap .feature-section.image {
        padding-left: 1rem; }
        @media (max-width: 600px) {
          .feature-wrap-outer .feature-wrap .feature-section.image {
            margin: 0 0 1rem 0;
            text-align: center; }
            .feature-wrap-outer .feature-wrap .feature-section.image img {
              max-width: 80%;
              width: 300px; } }

.contact-cta-wrap-outer {
  background: #f0f0f0; }
  .contact-cta-wrap-outer .contact-cta-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    padding: 1.5rem 1.5em;
    max-width: 900px;
    margin: 0 auto; }
    @media (max-width: 600px) {
      .contact-cta-wrap-outer .contact-cta-wrap {
        padding: 2.5rem 1.5rem; } }
    .contact-cta-wrap-outer .contact-cta-wrap h2,
    .contact-cta-wrap-outer .contact-cta-wrap p {
      margin: 0; }
      @media (max-width: 600px) {
        .contact-cta-wrap-outer .contact-cta-wrap h2,
        .contact-cta-wrap-outer .contact-cta-wrap p {
          width: 100%;
          text-align: center; } }
    .contact-cta-wrap-outer .contact-cta-wrap h2 {
      font-weight: normal;
      text-transform: capitalize;
      width: 75%; }
      @media (max-width: 600px) {
        .contact-cta-wrap-outer .contact-cta-wrap h2 {
          width: 100%;
          font-size: 1.3em; } }
      .contact-cta-wrap-outer .contact-cta-wrap h2 span {
        font-weight: bold; }
        @media (max-width: 600px) {
          .contact-cta-wrap-outer .contact-cta-wrap h2 span {
            display: block; } }
    .contact-cta-wrap-outer .contact-cta-wrap .contact-cta-link {
      width: 25%;
      padding-left: 1rem; }
      @media (max-width: 600px) {
        .contact-cta-wrap-outer .contact-cta-wrap .contact-cta-link {
          width: 100%;
          margin: 1.75rem 0 0 0; }
          .contact-cta-wrap-outer .contact-cta-wrap .contact-cta-link .btn {
            display: block;
            padding: 0.75rem; } }

.hp-features-section-container {
  margin: 5rem 0 3rem; }
  @media (max-width: 600px) {
    .hp-features-section-container {
      margin-top: 2rem; } }
  .hp-features-section-container .hp-features-section {
    max-width: 880px;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
            align-items: flex-start; }
    .hp-features-section-container .hp-features-section .hp-feature-item {
      width: calc( 33% - 1rem );
      text-align: center;
      margin: 0 0.5rem;
      padding: 0.75rem 0.5rem; }
      @media (max-width: 600px) {
        .hp-features-section-container .hp-features-section .hp-feature-item {
          width: 100%; } }
      .hp-features-section-container .hp-features-section .hp-feature-item + .hp-feature-item {
        border-left: 3px solid #E2E2E2; }
        @media (max-width: 600px) {
          .hp-features-section-container .hp-features-section .hp-feature-item + .hp-feature-item {
            border: none; } }
      .hp-features-section-container .hp-features-section .hp-feature-item p {
        line-height: 0; }
        .hp-features-section-container .hp-features-section .hp-feature-item p img {
          max-width: 85%;
          max-height: 170px !important; }
          @media (max-width: 600px) {
            .hp-features-section-container .hp-features-section .hp-feature-item p img {
              max-height: 250px !important; } }
      .hp-features-section-container .hp-features-section .hp-feature-item h3 {
        margin: 0; }
        @media (max-width: 600px) {
          .hp-features-section-container .hp-features-section .hp-feature-item h3 {
            font-size: 1.3em; } }

.piece-of-cake-section-container-wrap .piece-of-cake-section-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
          align-items: stretch; }
  .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section {
    width: 50%; }
    @media (max-width: 600px) {
      .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section {
        width: 100%; } }
    .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content {
      padding: 3rem;
      background: #FAFAFF;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
              justify-content: flex-end;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center; }
      @media (max-width: 830px) {
        .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content {
          padding: 3rem 1.5rem; } }
      .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content {
        max-width: 440px;
        border: 2px solid #DEDEDE;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
                flex-direction: row;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
                align-items: center;
        padding: 2rem 1.5rem; }
        @media (max-width: 830px) {
          .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
                    flex-direction: column; } }
        @media (max-width: 600px) {
          .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content {
            max-width: none;
            border: none;
            padding: 0; } }
        .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section {
          width: 50%; }
          @media (max-width: 830px) {
            .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section {
              width: 100%; } }
          .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section.text {
            color: #46308D;
            padding-left: 1rem; }
            @media (max-width: 600px) {
              .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section.text {
                width: 100%;
                padding: 0;
                text-align: center; } }
            .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section.text h2 {
              font-size: 1.3em;
              margin-bottom: 0.25rem; }
              @media (max-width: 600px) {
                .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section.text h2 {
                  font-size: 1.65em;
                  margin-bottom: 1.5rem; } }
            .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section.text p {
              margin: 0;
              font-size: 0.8em; }
              @media (max-width: 600px) {
                .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section.text p {
                  font-size: 0.95em; } }
          @media (max-width: 830px) {
            .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section.image-container {
              width: 100%;
              margin-bottom: 0.5rem; } }
          @media (max-width: 600px) {
            .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.content .piece-of-cake-content .piece-of-cake-content-section.image-container {
              display: none; } }
    .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.image {
      background: #46308D url(/wp-content/themes/purplebloks/images/its-a-piece-of-cake-purple-bloks-bg.jpg);
      background-size: cover;
      max-height: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
              flex-direction: row;
      -webkit-flex-wrap: wrap;
              flex-wrap: wrap;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
              justify-content: flex-start;
      -webkit-box-align: center;
      -webkit-align-items: center;
              align-items: center;
      max-height: 100%;
      padding: 0 0 0 4rem; }
      @media (max-width: 600px) {
        .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.image {
          background-size: 200%;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
                  align-items: center;
          padding: 5rem 0; } }
      .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.image p img {
        width: 290px; }
        @media (max-width: 600px) {
          .piece-of-cake-section-container-wrap .piece-of-cake-section-container .piece-of-cake-section.image p img {
            width: 250px; } }

.contact-form-section-container {
  background: #f0f0f0 url(/wp-content/themes/purplebloks/images/contact-us-today-bg.jpg);
  background-position: cover;
  padding: 4rem 1.5rem; }
  @media (max-width: 600px) {
    .contact-form-section-container {
      background: none;
      padding: 3rem 1.5rem; } }
  .contact-form-section-container .contact-form-section h2 {
    text-align: center;
    font-weight: normal;
    text-transform: capitalize; }
    @media (max-width: 600px) {
      .contact-form-section-container .contact-form-section h2 {
        font-size: 1.65em; } }
    .contact-form-section-container .contact-form-section h2 span {
      font-weight: bold; }
      @media (max-width: 600px) {
        .contact-form-section-container .contact-form-section h2 span {
          display: block; } }
  .contact-form-section-container .contact-form-section .contact-form {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
            align-items: center;
    max-width: 900px;
    margin: 0 auto; }
    .contact-form-section-container .contact-form-section .contact-form input + input {
      margin-left: 0.5rem; }
      @media (max-width: 600px) {
        .contact-form-section-container .contact-form-section .contact-form input + input {
          margin: 1rem 0 0 0; } }
    .contact-form-section-container .contact-form-section .contact-form .contact-form-field {
      width: 35%;
      border: 2px solid #EFEAFF;
      color: #C4B8EA !important;
      font-size: 0.95em; }
      @media (max-width: 600px) {
        .contact-form-section-container .contact-form-section .contact-form .contact-form-field {
          width: 100%; } }
    .contact-form-section-container .contact-form-section .contact-form .contact-form-submit {
      width: 20%; }
      @media (max-width: 600px) {
        .contact-form-section-container .contact-form-section .contact-form .contact-form-submit {
          margin: 1.75rem 0 0 0;
          display: block;
          padding: 0.75rem;
          width: 100%; } }

/*# sourceMappingURL=home.css.map */