
.btn,
.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
	color: $brand;
	border: 2px solid $brand;
	padding: 0.5rem 1.5rem;
	font-size: 0.823em;
	font-weight: bold;

	&:hover {
	}

	&.btn-alt {
		color: #fff;
		border-color: #fff;
	}

	&.btn-sm {
	}

	&.btn-xsm {
	}

	&.btn-lg {
	}
}

[type="button"] {
	background: $brand;
	color: #fff !important;
	font-size: 0.823em !important;
	cursor: pointer;

	&:hover {
		background: $brand-dk;
	}
}