@import 'compass/css3';
@import 'bits';

/* CSS Document */

*, *:before, *:after {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
}


// ---------------------------------------------------------------------------------
// ----- CORE STYLES ---------------------------------------------------------------
// ---------------------------------------------------------------------------------
html, body {
	overflow-x: hidden;
}

body {
	color: #000;
	font-size: 17px;
	line-height: 1.5;
	font-family: 'Muli', sans-serif;
}

a, a:visited {
	color: #000;
	text-decoration: none;

	&:hover,
	&:focus {
		color: #000;
	}
}

img {
	max-width: 100%;
	height: auto !important;
}

hr {
}


// ---------------------------------------------------------------------------------
// ----- HEADER --------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.header-wrap-outer {
	background: #F0F0F0;
	box-shadow: 0px 6px 10px #00000033;
	padding: 2rem 1.5rem;

	@media (max-width: 600px) {
		padding: 1.5rem 1.5rem 1rem;
	}

	.header-wrap {
		position: relative;
		max-width: 880px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;

		@media (max-width: 600px) {
			justify-content: center;
		}

		.site-logo {
			width: 230px;
			line-height: 0;

			@media (max-width: 600px) {
				width: 160px;
			}

			a {
				display: block;
			}
		}
	}
}

// ---------------------------------------------------------------------------------
// ----- CONTENT -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.content-wrap {
	max-width: 900px;
	margin: 0 auto;
}


// ---------------------------------------------------------------------------------
// ----- FOOTER --------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-section-container-wrap {
	background: #1C1C46;
	color: #fff;
	padding: 4rem 1rem;

	.footer-section-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		@media (max-width: 640px) {
			flex-direction: column;
		}

		.footer-section {
			& + .footer-section {
				padding-left: 5rem;

				@media (max-width: 640px) {
					padding: 0;
				}
			}

			&.footer-logo {
				width: 190px;

				@media (max-width: 640px) {
					width: 250px;
				}
			}
		}
	}
}










