
// ---------------------------------------------------------------------------------
// ----- TOP NAV -------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.top-nav {

	@media (max-width: 600px) {
		display: none;
	}

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;
	}

	ul,
	ul li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	ul li {
		padding: 0 1rem;

		a {
			color: $brand;
			text-transform: uppercase;
			font-size: 16px;
		}

		&:hover a {
		}

		&.current-menu-item a {
		}

		&.menu-item-has-children {
			position: relative;

			ul {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;

				li {
					display: block;
					width: 15em;

					a {
						display: block;

						&:hover {
						}
					}
				}
			}

			&:hover ul {
				display: block;
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- FOOTER NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.footer-nav {
	.footer-nav-section {
		@media (max-width: 640px) {
			margin-top: 2rem;
			text-align: center;
		}

		& + .footer-nav-section {
			margin-top: 1rem;
		
			@media (max-width: 640px) {
				margin-top: 2rem;
			}
		}
	}

	p,
	a {
		font-size: 0.95em;
	}

	p {
		font-weight: bold;
		margin-bottom: 0.5rem;

		@media (max-width: 640px) {
			margin: 0;
		}
	}

	.footer-nav-menu,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.footer-nav-menu {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: center;

		@media (max-width: 640px) {
			display: block;
		}

		li {
			& + li {
				margin-left: 2rem;

				@media (max-width: 640px) {
					margin: 0;
				}
			}

			a {
				color: #fff;

				&:hover {
					color: #C4B8EA;
				}
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- MOBILE NAV ----------------------------------------------------------------
// ---------------------------------------------------------------------------------
.mobile-nav,
.mobile-nav-icon {
	display: none;
}

.mobile-nav-icon {
	font-size: 1.3em;

	@media (max-width: 600px) {
		display: block;
		position: absolute;
		top: 50%;
		left: 2rem;
		margin: 0;
		transform: translateY(-55%);
	}
}

.mobile-nav {
	position: relative;
	padding: 1.5rem 1rem;
	text-align: center;

	.menu,
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.menu {
		li {
			& + li {
				margin-top: 0.5rem;
			}

			a {
				font-weight: bold;
			}
		}
	}

	.mobile-nav-close {
		font-size: 1.75em;	
		position: absolute;
		top: 1rem;
		right: 2rem;
		margin: 0;
		line-height: 1;
	}
}







