
// ---------------------------------------------------------------------------------
// ----- HEADINGS ------------------------------------------------------------------
// ---------------------------------------------------------------------------------
h1, h2, h3 {
	font-family: 'Muli', sans-serif;
	font-weight: bold;
	color: $brand;
	line-height: 1.25;
	margin-bottom: 1em;
}

* ~ h1, * ~ h2, * ~ h3 {
	margin-top: 1em;
}

h1 {
	font-size: 2.5em;
}

h2 {
	font-size: 2.05em;
}

h3 {
	font-size: 1.65em;
}


// ---------------------------------------------------------------------------------
// ----- MAIN ELEMENTS -------------------------------------------------------------
// ---------------------------------------------------------------------------------
p {
}

ul,
ul li {
}

* + p,
* + li {
	margin-top: 1em;
}

small {
	font-size: 0.75em;
}


// ---------------------------------------------------------------------------------
// ----- MISC ----------------------------------------------------------------------
// ---------------------------------------------------------------------------------
blockquote {
}