@import 'bits';
@import 'buttons';

// ---------------------------------------------------------------------------------
// ----- HEADER --------------------------------------------------------------------
// ---------------------------------------------------------------------------------
.feature-wrap-outer {
	background: url(/wp-content/themes/purplebloks/images/purple-bloks-header-bg.jpg);
	background-size: cover;

	.feature-wrap {
		max-width: 880px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 6rem 1.5rem;
		color: #fff;

		@media (max-width: 600px) {
			flex-direction: column-reverse;	
			padding: 2rem 1.5rem;		
		}

		.feature-section {
			width: 50%;

			@media (max-width: 600px) {
				width: 100%;	
			}

			&.content {
				//width: 410px;

				@media (max-width: 600px) {
					width: 100%;
					text-align: center;	
				}

				img {
					@media (max-width: 600px) {
						max-width: 250px;
					}
				}

				h1 {
					font-weight: normal;
					font-size: 2.05em;
					color: #fff;
					margin: 0 0 1.5rem;

					@media (max-width: 600px) {
						font-size: 1.3em;
						margin-top: 0.5rem;
					}
				}

				.btn {
					@media (max-width: 600px) {
						display: block;
						padding: 0.75rem;
					}
				}
			}

			&.image {
				padding-left: 1rem;

				@media (max-width: 600px) {
					margin: 0 0 1rem 0;
					text-align: center;

					img {
						max-width: 80%;
						width: 300px;
					}
				}


			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- CONTACT CTA SECTION -------------------------------------------------------
// ---------------------------------------------------------------------------------
.contact-cta-wrap-outer {
	background: #f0f0f0;

	.contact-cta-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 1.5rem 1.5em;
		max-width: 900px;
		margin: 0 auto;

		@media (max-width: 600px) {
			padding: 2.5rem 1.5rem;
		}

		h2,
		p {
			margin: 0;

			@media (max-width: 600px) {
				width: 100%;

				text-align: center;
			}
		}

		h2 {
			font-weight: normal;
			text-transform: capitalize;
			width: 75%;

			@media (max-width: 600px) {
				width: 100%;
				font-size: 1.3em;
			}

			span {
				font-weight: bold;

				@media (max-width: 600px) {
					display: block;
				}
			}
		}

		.contact-cta-link {
			width: 25%;
			padding-left: 1rem;

			@media (max-width: 600px) {
				width: 100%;
				margin: 1.75rem 0 0 0;

				.btn {
					display: block;
					padding: 0.75rem;
				}
			}
		}
	}
}



// ---------------------------------------------------------------------------------
// ----- PB FEATURES SECTION -------------------------------------------------------
// ---------------------------------------------------------------------------------
.hp-features-section-container {
	margin: 5rem 0 3rem;

	@media (max-width: 600px) {
	margin-top: 2rem;
	}

	.hp-features-section {
		max-width: 880px;
		margin: 0 auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;

		.hp-feature-item {
			width: calc( 33% - 1rem );
			text-align: center;
			margin: 0 0.5rem;
			padding: 0.75rem 0.5rem;

			@media (max-width: 600px) {
				width: 100%;
			}

			& + .hp-feature-item {
				border-left: 3px solid #E2E2E2;

				@media (max-width: 600px) {
					border: none;
				}
			}

			p {
				line-height: 0;

				img {
					max-width: 85%;
					max-height: 170px !important;

					@media (max-width: 600px) {
						max-height: 250px !important;
					}
				}
			}

			h3 {
				margin: 0;

				@media (max-width: 600px) {
					font-size: 1.3em;
				}
			}

		}
	}
}


// ---------------------------------------------------------------------------------
// ----- PIECE OF CAKE SECTION -----------------------------------------------------
// ---------------------------------------------------------------------------------
.piece-of-cake-section-container-wrap {
	.piece-of-cake-section-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;

		.piece-of-cake-section {
			width: 50%;

			@media (max-width: 600px) {
				width: 100%;
			}

			&.content {
				padding: 3rem;
				background: #FAFAFF;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-end;
				align-items: center;

				@media (max-width: 830px) {
					padding: 3rem 1.5rem;
				}

				.piece-of-cake-content {
					max-width: 440px;
					border: 2px solid #DEDEDE;
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: center;
					align-items: center;
					padding: 2rem 1.5rem;

					@media (max-width: 830px) {
						flex-direction: column;
					}

					@media (max-width: 600px) {
						max-width: none;
						border: none;
						padding: 0;						
					}

					.piece-of-cake-content-section {
						width: 50%;

						@media (max-width: 830px) {
							width: 100%;
						}

						&.text {
							color: $brand;
							padding-left: 1rem;

							@media (max-width: 600px) {
								width: 100%;
								padding: 0;
								text-align: center;
							}

							h2 {
								font-size: 1.3em;
								margin-bottom: 0.25rem;

								@media (max-width: 600px) {
									font-size: 1.65em;
									margin-bottom: 1.5rem;
								}
							}

							p {
								margin: 0;
								font-size: 0.8em;

								@media (max-width: 600px) {
									font-size: 0.95em;
								}								
							}	
						}

						&.image-container {
							@media (max-width: 830px) {
								width: 100%;
								margin-bottom: 0.5rem;
							}

							@media (max-width: 600px) {
								display: none;
							}
						}
					}
				}
			}

			&.image {
				background: $brand url(/wp-content/themes/purplebloks/images/its-a-piece-of-cake-purple-bloks-bg.jpg);
				background-size: cover;
				max-height: 100%;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: center;
				max-height: 100%;
				padding: 0 0 0 4rem; 

				@media (max-width: 600px) {
					background-size: 200%;
					//background-position: 0% 50%;
					justify-content: center;
					align-items: center;
					padding: 5rem 0;					
				}

				p {
					img {
						width: 290px;

						@media (max-width: 600px) {
							width: 250px;
						}
					}
				}
			}
		}
	}
}


// ---------------------------------------------------------------------------------
// ----- CONTACT FORM SECTION ------------------------------------------------------
// ---------------------------------------------------------------------------------
.contact-form-section-container {
	background: #f0f0f0 url(/wp-content/themes/purplebloks/images/contact-us-today-bg.jpg);
	background-position: cover;
	padding: 4rem 1.5rem;

	@media (max-width: 600px) {
		background: none;
		padding: 3rem 1.5rem;
	}

	.contact-form-section {

		h2 {
			text-align: center;
			font-weight: normal;
			text-transform: capitalize;
			//margin-top: 0;

			@media (max-width: 600px) {
				font-size: 1.65em;
			}

			span {
				font-weight: bold;

				@media (max-width: 600px) {
					display: block;
				}
			}
		}

		.contact-form {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			max-width: 900px;
			margin: 0 auto;

			input + input {
				margin-left: 0.5rem;

				@media (max-width: 600px) {
					margin: 1rem 0 0 0;
				}
			}

			.contact-form-field {
				//width: 290px;
				width: 35%;
				border: 2px solid #EFEAFF;
				color: #C4B8EA !important;
				font-size: 0.95em;

				@media (max-width: 600px) {
					width: 100%;
				}
			}

			.contact-form-submit {
				width: 20%;

				@media (max-width: 600px) {
					margin: 1.75rem 0 0 0;
					display: block;
					padding: 0.75rem;
					width: 100%;
				}
			}
		}
	}
}







